body{
	background: indianred;
	color: black;
	font-family: "Helvetica";
	text-shadow: white 1px 1px;
}

.titulos{
	text-align: center;
	color:white;
	text-shadow:black 2px 2px ;
}

.image{
	display: block;
	margin: 0 auto;
}