body{
	background: indianred;
	color: black;
	font-family: "Arial";
	text-align: justify;
	text-shadow: white 1px 1px;
}

.titulos{
	text-align: center;
	color:white;
	text-shadow:black 2px 2px ;
}

.image{
	display: block;
	margin: 0 auto;
}

#footer{
	background: ghostwhite;
	color: black;
	text-align: center;
	text-shadow: black 0px 1px;
	padding: 0.5em;
}